<nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">
  
  <h6 class="navbar-brand my-auto text-white">Filters</h6>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Place Type
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Apartment</a>
        <a class="dropdown-item" href="#">House</a>
        <a class="dropdown-item" href="#">Secondary Unit</a>
        <a class="dropdown-item" href="#">Unique Space</a>
        <a class="dropdown-item" href="#">Bed & Breakfast</a>
        <a class="dropdown-item" href="#">Boutique Hotel</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Guests
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">1 - 10</a>
        <a class="dropdown-item" href="#">11 - 20</a>
        <a class="dropdown-item" href="#">21 - 30</a>
        <a class="dropdown-item" href="#">31 +</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Rooms
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">1 - 3</a>
        <a class="dropdown-item" href="#">4 - 6</a>
        <a class="dropdown-item" href="#">6 - 9</a>
        <a class="dropdown-item" href="#">10 +</a>
      </div>
    </li>
    <li class="nav-item my-auto">
      <button id="only-verified" class="btn btn-link text-white">Only Verified</button>
    </li>
  </ul>
   
</nav>