<%= render partial: '/listings/filter_form' %>
<section class="container mt-4">

	<div id="listings-page">
	<%= render partial: '/listings/listings' %>
			
	<%= paginate @listing %>
	</div>

</section>

