<%= render partial: '/listings/filter_form' %>
<section class="container mt-4">

	<div id="listings-page">
	<%= render partial: '/listings/listings' %>
			
	</div>

</section>
<script>

	$("#filter-toggle").click(function(){

		console.log("clicked")
		$("#filter-bar").slideToggle('slow');
		
	});

</script>

