
<section class="container-fluid bg-secondary text-center p-4">

  <h1 class="text-white">New Listing</h1>

     <%= render partial: "/listings/form" %>

</section>
     


<script>


     $('#listing_property_type').change(function(){

         var selected = $(':selected', this);
         $('#place-type')[0].value = selected.parent().attr('label');
     });


</script>


