


<div class="container h-100">
	<div class="perfect-centering">
	  <div class="text-center">
	    <div id="welcome-message" class="text-warning">
	    	<h1> Welcome to FireBnB!</h1>
	    </div>
	  </div>

	  <div class="text-center">
	    <div id="welcome-desc" class="text-warning m-3">
	    	 <h3>You bring the money! We bring the heat!</h3>
	    </div>
	  </div>
	</div>
</div>
