<head>
	<%= stylesheet_link_tag 'sessions' %>
</head>

<div class="container-fluid w-100 p-3">
  <div class="d-flex flex-wrap justify-content-center w-50 border border-dark rounded shadow-lg p-3 bg-white my-auto mx-auto">
    <div class="text-center">

		<div id="clearance" class="password-reset">
		  <p><%= t(".description") %></p>
		</div>

	</div>
  </div>
</div>